.benefits_dh_1_0_0 {
  &__box {
    display: flex;
    gap: 12px;
    width: 100%;
  }
  &__item {
    background-image: linear-gradient(to right, #66a6d1, #2386c7);
    width: calc(25% - 6px);
    padding: 32px 10px;
    border-radius: 12px;
    p {
      color: #fff;
      text-align: center;
      margin-bottom: 0;
      font-weight: 500;
      font-size: 22px;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 1024px) {
    &__item {
      p {
        font-size: 18px;
      }
    }
  }
  @media (max-width: 820px) {
    &__box {
      flex-wrap: wrap;
    }
    &__item {
      width: calc(50% - 6px);
    }
  }
}
