.gifts_dh_1_0_0 {
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
  }
  &__popup {
    width: 720px;
    padding: 20px;
    border: 2px solid #2386c7;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    background: #fff;
    #close-form {
      cursor: pointer;
      font-size: 8px;
      padding: 6px 8px;
      position: absolute;
      top: -12px;
      right: -12px;
      background: #fff;
      border: 1px solid #2386c7;
      border-radius: 100%;
    }
  }
  &__popupTitle {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
  }
  &__popupName {
    text-align: center;
    color: #2386c7;
    font-weight: 600;
    font-size: 25px;
  }
  &__popupPoints {
    text-align: center;
    color: #2386c7;
    font-weight: 600;
    font-size: 23px;
  }
  &__popupPic {
    width: 300px;
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__popupNote {
    text-align: center;
    color: #2386c7;
    font-style: italic;
    font-size: 18px;
  }
  &__popupBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;
    margin-top: 10px;
  }
  &__btn1,
  &__btn2 {
    color: #fff;
    padding: 12px;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
  }
  &__btn1 {
    background: #2853e2;
    transition: all 0.3s linear;
    &:hover {
      background: #1e3b9b;
      transition: all 0.3s linear;
    }
  }
  &__btn2 {
    background: #2386c7;
    transition: all 0.3s linear;
    &:hover {
      background: #0567a8;
      transition: all 0.3s linear;
    }
  }
  @media (max-width: 430px) {
    &__popup {
      width: 88%;
    }
    &__popupTitle {
      font-size: 22px;
    }
    &__popupName,
    &__popupPoints {
      font-size: 20px;
    }
    &__popupPic {
      width: 100%;
    }
    &__popupNote {
      font-size: 14px;
    }
    &__btn1,
    &__btn2 {
      padding: 12px;
      font-size: 14px;
    }
  }

  @media (max-width: 280px) {
    &__btn1,
    &__btn2 {
      padding: 8px;
      font-size: 10px;
    }
  }
}
